<app-header></app-header>
<div class="dark-overlay" *ngIf="visible_progress">
    <mat-spinner mode="indeterminate" color="primary" [diameter]="50" class="progress_bar" *ngIf="visible_progress">
    </mat-spinner>
</div>

<mat-toolbar>
    <span> تعریف سطح دسترسی</span>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <form class="container" #access_level_form="ngForm">
            <div class="row">
                <mat-form-field class="col-xs-12">
                    <mat-label>پرسنل</mat-label>
                    <mat-select name="IDPersonel">
                        <mat-option (click)=hide_Page_list()>---</mat-option>
                        <mat-option *ngFor="let item of res_personels" [value]="item.IDPersonel" (click)=add_all_pages_for_personel(item.IDPersonel)>
                            <span>{{item.FullName+' - '+ item.RoleTitle}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div *ngIf="show_menu_lists">
                    <div *ngFor="let item of res_access_level">
                        <mat-checkbox [(checked)]="item.Access" name="Access" color="primary" (click)=update_access(item.IDAccessLevel,item.Access)>{{item.Title}}</mat-checkbox>
                    </div>

                </div>

            </div>
        </form>
    </mat-card-content>
</mat-card>