<mat-spinner mode="indeterminate" color="primary" [diameter]="50" class="progress_bar" *ngIf="visible_progress">
</mat-spinner>

<mat-toolbar id="personel_container">
    <span>ثبت فعالیت ها</span>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <form class="container" #action_form="ngForm">
            <div class="row row-buttons">
                <button mat-fab color="accent" (click)=start_action(); [disabled]="!is_finish_last_action">شروع</button>
            </div>
            <div class="row alert-duration" *ngIf="!is_finish_last_action">
                <span class="duration-title">مدت زمان سپری شده : </span>
                <span class="duration-time"> {{passed_time}}</span>
            </div>
            <div class="row" *ngIf="!is_finish_last_action">
                <mat-form-field class="col-xs-12">
                    <input class="contract-input" #auto_contract_Input type="text" aria-label="Contract" placeholder="شماره قرارداد" matInput [formControl]="contract_control" [matAutocomplete]="auto_contracts" required>
                    <mat-autocomplete #auto_contracts="matAutocomplete" [displayWith]="display_selected_contract_item">
                        <mat-option (onSelectionChange)="auto_contract_Input.value !=undefined && auto_contracts_select_change($event)" *ngFor="let item of filtered_contract| async" [value]="item">
                            {{item.GenerateContarctNumber}}
                        </mat-option>
                    </mat-autocomplete>

                </mat-form-field>
                <mat-form-field class="col-xs-12" *ngIf="visible_task_list">
                    <mat-label>وظیفه</mat-label>
                    <mat-select [(value)]="model_action.IDTask" name="IDTask">
                        <mat-option *ngFor="let item of res_tasks" [value]="item.IDTask">
                            {{item.Title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-xs-12">
                    <input matInput [(ngModel)]="model_action.Count" name="Count" placeholder="تعداد " required maxlength="10" numbersOnly>
                </mat-form-field>

                <mat-form-field class="col-xs-12">
                    <textarea matInput [(ngModel)]="model_action.Description" name="Description" placeholder="توضیحات " maxlength="1000"></textarea>
                </mat-form-field>

            </div>
            <div class="row row-buttons">
                <button mat-mini-fab class="mat-fab-finish" color="primary" (click)=end_action(); [disabled]="!action_form.form.valid || is_finish_last_action">پایان</button>
                <button mat-mini-fab color="warn" (click)=refuse_action(); [disabled]="is_finish_last_action">انصراف</button>

            </div>
        </form>
    </mat-card-content>
</mat-card>