.mat-raised-button {
    font-family: 'IranSans';
    margin: 10px auto 10px auto;
    width: 100%;
}

.row-buttons {
    padding-bottom: 10px;
    justify-content: flex-end;
}

.list-item-fa {
    font-family: 'IranSans';
    direction: rtl;
    background-color: #e6e5e5;
    margin-bottom: 5px;
    padding: 10px;
}

.list-item-en {
    background-color: #e6e5e5;
    margin-bottom: 5px;
    padding: 10px;
}

.description-product {
    font-size: 14px;
}

.mat-checkbox {
    font-family: 'IranSans';
}

.span-rtl {
    direction: rtl;
    font-family: 'IranSans';
    float: right;
    width: 100%;
}

.mat-nav-list {
    color: black
}

.mat-form-field {
    font-family: 'IranSans';
    direction: rtl;
    text-align: right;
}

.mat-select {
    direction: rtl;
    text-align: right;
    font-family: 'IranSans';
}

.mat-option {
    direction: rtl;
    text-align: right;
    font-family: 'IranSans';
}

::ng-deep .mat-option-text {
    padding-right: 20px;
}

.mat-line {
    padding-right: 10px;
}

.date-time {
    direction: ltr;
}