.mat-raised-button {
    font-family: 'IranSans';
    margin: 10px auto 10px auto;
    width: 100%;
}

.list-item-fa {
    font-family: 'IranSans';
    direction: rtl;
    background-color: #f6f6f6;
    margin-bottom: 5px;
    padding: 10px;
}

.list-item-en {
    background-color: #f6f6f6;
    margin-bottom: 5px;
    padding: 10px;
}

.description-product {
    font-size: 14px;
}

.mat-checkbox {
    font-family: 'IranSans';
}

.span-rtl {
    direction: rtl;
    font-family: 'IranSans';
    float: right;
    width: 100%;
}

.mat-nav-list {
    color: black
}