<mat-spinner mode="indeterminate" color="primary" [diameter]="50" class="progress_bar" *ngIf="visible_progress">
</mat-spinner>
<div class="login-main">
    <mat-card>
        <mat-card-title class="mat-card-title">
            ورود به پنل سومیار
        </mat-card-title>
        <mat-card-content>
            <form class="login-container" #login_form="ngForm">
                <div class="row">
                    <mat-form-field class="col-xs-12">
                        <input matInput placeholder="نام کاربری" [(ngModel)]="model_login.UserName" name="UserName" required maxlength="50">
                    </mat-form-field>
                    <mat-form-field class="col-xs-12">
                        <mat-label>رمز عبور</mat-label>
                        <input matInput type="password" placeholder="رمز عبور" [(ngModel)]="model_login.Password" name="Password" required maxlength="50">
                    </mat-form-field>
                </div>
                <div class="row row-buttons">
                    <button mat-raised-button color="primary" (click)=generate_token(model_login); [disabled]="!login_form.form.valid">ورود</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>