@media only screen and (orientation: Portrait) {
    .login-main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 45%;
    }
}

@media only screen and (orientation: landscape) {
    .login-main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
}

.login-container {
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 4px 5px #f3f3f3;
}

.mat-form-field {
    font-family: 'IranSans';
    direction: ltr;
    text-align: left;
}

.mat-raised-button {
    font-family: 'IranSans';
    margin-right: 5px;
}

.row-buttons {
    padding-bottom: 10px;
    justify-content: flex-end;
}

.login-header {
    border: 1px solid lightgray;
    box-shadow: 4px 5px #f3f3f3;
    margin: auto;
    width: 45%;
    justify-content: center;
    display: flex;
    font-family: 'IranSans';
    background-color: #3f51b5;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 1px;
}