<div class="dark-overlay" *ngIf="visible_progress">
    <mat-spinner mode="indeterminate" color="primary" [diameter]="50" class="progress_bar" *ngIf="visible_progress">
    </mat-spinner>
</div>
<mat-toolbar>
    <span>تغییر رمز عبور</span>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <form class="container " #change_password_form="ngForm">
            <div class="row row-buttons">
                <button mat-raised-button id="btn_update_password" color="primary" (click)=update_password(model_personel) [disabled]="!change_password_form.form.valid">تغییر رمز عبور</button>
                <button mat-raised-button color="accent" (click)=clear_form_change_password();>جدید</button>
            </div>
            <div class="row">

                <mat-form-field class="col-xs-12">
                    <input matInput type="password" placeholder="رمز عبور جدید" [(ngModel)]="model_personel.Password" name="Password" required maxlength="50">
                </mat-form-field>
                <mat-form-field class="col-xs-12">
                    <input matInput type="password" placeholder="تکرار رمز عبور " [(ngModel)]="model_personel.RepeatPassword" name="RepeatPassword" required maxlength="50">
                </mat-form-field>

            </div>
        </form>
    </mat-card-content>
</mat-card>