<mat-spinner mode="indeterminate" color="primary" [diameter]="50" class="progress_bar" *ngIf="visible_progress">
</mat-spinner>

<mat-toolbar>
    <span> لیست قرارداد های انتساب داده شده به من </span>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <form class="container" #assign_contract_form="ngForm">

            <div class="col-xs-12 filter">
                <mat-form-field>
                    <input matInput (keyup)="apply_filter($event.target.value)" placeholder="جست و جو">
                </mat-form-field>
            </div>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="data_source" class="custom_table" dir="rtl" matSort>

                    <ng-container matColumnDef="ContarctNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> قرارداد </th>
                        <td mat-cell *matCellDef="let element"> {{element.ContarctNumber }} </td>
                    </ng-container>
                    <ng-container matColumnDef="OrderNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> سفارش </th>
                        <td mat-cell *matCellDef="let element"> {{element.OrderNumber}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Count">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> تعداد </th>
                        <td mat-cell *matCellDef="let element"> {{element.Count}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Meter">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> متراژ </th>
                        <td mat-cell *matCellDef="let element"> {{element.Meter}} </td>
                    </ng-container>
                    <ng-container matColumnDef="StartContract">
                        <th mat-header-cell *matHeaderCellDef> شروع </th>
                        <td mat-cell *matCellDef="let element">

                            <mat-slide-toggle color="accent" [disabled]="element.StartDate!=null" [checked]="element.StartDate" (change)="update_start_date(element.IDContract)">
                            </mat-slide-toggle>

                        </td>
                    </ng-container>
                    <ng-container matColumnDef="EndContract">
                        <th mat-header-cell *matHeaderCellDef> پایان </th>
                        <td mat-cell *matCellDef="let element">

                            <mat-slide-toggle color="accent" [disabled]="element.EndDate!=null || element.StartDate==null " [checked]="element.EndDate" (change)="update_end_date(element.IDContract) ">
                            </mat-slide-toggle>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayed_columns; sticky: true "></tr>
                    <tr mat-row *matRowDef="let row; columns: displayed_columns; "></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20] " showFirstLastButtons></mat-paginator>

            </div>
        </form>
    </mat-card-content>
</mat-card>